<div class="background">
  <div class="container">

    <div class="form-group text-center">
      <div class="row text-center">
        <div class="search-head">
          <div class="flex-large search-title">Mon profil</div>
          <div class="underline underline-title"></div>
        </div>
      </div>
    </div>

    <div class="row row-profile">
      <div class="col-xs-12">
          <div class="flex-large search-title active">Content</div>

      </div>
    </div>

    <div class="carousel" data-flickity>
      <% @bookmarked_contents.each do |content| %>
        <div class="carousel-cell-contents" width: 400px>
          <%= link_to content_path(content) do %>
            <div class="card">
              <div class="card-image">
                <%= image_tag(content.image_url) %>
              </div>
              <div class="card-content text-center">
                <div class="nav-cap nav-cap-card">
                  <%= content.source.capitalize %>
                </div>
                <div class="underline"></div>
                <h3 class="card-title">
                  <%= content.title %>
                </h3>
                <div class="underline"></div>
                <div class="card-description body-small">
                  <%= truncate(content.description, length: 100) %>
                </div>

              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
