<div class="carousel" data-flickity>
  <% contents = Content.last(3) %>
  <% contents.each do |content| %>
    <div class="carousel-cell-contents">
      <%= link_to content_path(content) do %>
      <div class="card">
        <div class="card-image">
          <iframe width="100%" height="260" src="https://www.youtube.com/embed/<%=content.url.last(11)%>?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen showinfo="0"></iframe>
        </div>
        <div class="card-content text-center">
          <div class="nav-cap">
            <%= content.source.capitalize %>
          </div>
          <h3 class="card-title">
            <%= content.title %>
          </h3>
          <div class="card-description body-small">
            <%= truncate(content.description, length: 150) %>
          </div>
          <%= link_to 'Bookmark', content_bookmarks_path(content), method: :post %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
