<div class="background">
  <div class="container">
    <h1><%= [session[:duration], session[:kind], session[:theme]] %></h1>
    <div class="row">
      <% @contents.last(3).each do |content| %>
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-image">
              <iframe width="100%" height="260" src="https://www.youtube.com/embed/<%=content.url.last(11)%>?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen showinfo="0"></iframe>
            </div>
            <div class="card-content text-center">
              <div class="nav-cap">
                <%= content.source.capitalize %>
              </div>
              <h3 class="card-title">
                <%= content.title %>
              </h3>

              <div class="card-description body-small">
                <%= content.description %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>