<div class="background">

<div class="carousel" data-flickity>
  <% contents = Content.last(3) %>
  <% contents.each do |content| %>
    <div class="carousel-cell-contents">
      <%= link_to content_path(content) do %>
      <div class="card">
        <div class="card-image">
          <%= image_tag(content.image_url) %>
        </div>
        <div class="card-content text-center">
          <div class="nav-cap">
            <%= content.source.capitalize %>
          </div>
          <h3 class="card-title">
            <%= content.title %>
          </h3>
          <div class="card-description body-small">
            <%= truncate(content.description, length: 60) %>
          </div>

          <%= link_to content_bookmarks_path(content), method: :post, class: "card-icon-social" do %>
            <i class="fa fa-bookmark"></i>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
<div class="col-xs-6">
      <%= submit_tag 'Home?', class: 'btn btn-primary btn-cta col-xs-12', id: 'button-duration' %>
      <i class="fa fa-chevron-right nav-icon"></i>    
    </div> 

</div>

  