<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->


  <% if current_page?(root_path) %>
  <div width="50"></div>
  <% elsif current_page?(contents_path) %>

     <%= link_to contents_search_duration_path, class: "icon-navbar" do %>
      <i class="fas fa-search-plus"> </i>
    <% end %>


  <% else %>
    <%= link_to :back, class: "icon-navbar" do %>
      <%= image_tag "contents/previous.svg" %>
    <% end %>
  <% end %>


  <%# link_to 'Back', :back %>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

    <%= link_to "", root_path, class: "navbar-wagon-item navbar-wagon-link text-input" %>

      <!-- Links when logged in -->

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_user.avatar.url.nil?%>
           <%= image_tag("default-user.png", class: "avatar dropdown-toggle", "data-toggle" => "dropdown") %>
          <% else %>
          <%= cl_image_tag current_user.avatar, height: 48, width: 48, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to profile_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Mon profil") %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_profile_path do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Paramètres") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Me déconnecter") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>

      <!-- Login link (when logged out) -->
      <%= link_to 'Inscription', new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link text-cta"%>

      <%= link_to 'Connexion', new_user_session_path, class: "navbar-wagon-item navbar-wagon-link text-cta" %>

      <% end %>
  </div>



  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
       <%= image_tag "contents/hamburger.svg", data: { toggle: 'dropdown' }, class: 'dropdown-toggle' %>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to new_user_session_path do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Me connecter") %>
        <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
            <i class="fa fa-cog"></i>  <%= t(".settings", default: "M'inscrire") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

