<div class="background">
  <div class="container">
    <div class="form-group text-center">
      <div class="row text-center">
        <div class="search-head">
          <div class="flex-large search-title">Select a media</div>
          <div class="underline underline-title"></div>
        </div>
      </div>
    </div>
    <%= form_tag contents_search_kind_path do %>
      <div class="row">
        <div class="category-choices">
          <div class="col-xs-12">
            <% @kinds.each_with_index do |kind, index| %>
              <div class="col-xs-12">
                <%= link_to contents_search_kind_path(kind: kind), method: :post do %>
                <label for="kind_<%= index %>">
                  <div class="category-choice">
                    <div class="icon">
                      <%= inline_svg "contents/kind-pictos/kind-#{kind}.svg", class: 'pictos' %>
                    </div>
                    <div class="step-choice">
                      <%= kind_naming(kind) %>
                    </div>
                  </div>
                </label>
                <% end %>
                <input type="radio" class="hidden" value="<%= kind %>" name="kind" id="kind_<%= index %>">
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row row-fixed">
        <div class="col-xs-6 col-xs-offset-3">
        <% end %>
      </div>
    </div>
  </div>
</div>
