<div class="background">  
  <div class="container">
    <div class="form-group text-center">
      <div class="row text-center">
        <div class="search-head">
            <div class="flex-large search-title">Pick a theme</div>
            <div class="underline"></div>
        </div>
      </div> 
    </div>
    <%= form_tag contents_search_theme_path do %>
      <div class="row">
        <div class="category-choices">
          <div class="col-xs-12">
            <% @themes.each_with_index do |theme, index| %>
              <div class="col-xs-6">
                <label for="theme_<%= index %>">
                  <div class="theme-choice">
                    <div class="content-card-theme">
                      <div class="icon">
                        <%= image_tag "contents/theme-pictos/theme-#{theme}.svg", class: "category-icon" %>
                      </div>
                      <div class="step-choice-theme">
                        <%= theme_naming(theme) %>
                      </div>
                    </div>
                  </div>
                </label>
                <input type="radio" class="hidden" value="<%= theme %>" name="theme" id="theme_<%= index %>">
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row row-fixed">
        <div class="col-xs-6 col-xs-offset-3">
          <%= button_tag type: 'submit', class: 'btn btn-primary btn-cta btn-block' do %>
          Save
          <i class="fa fa-chevron-right nav-icon"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

